
.place__button{
  border: 0pt;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight:600;
  line-height: 22px;
  color: white;
  background-color: #0278fe;
  border-radius: 4px;
  max-width: 248px;
  max-height: 48px;
  align-content: center;
  grid-area: button;
  transition: 1s;
  grid-column: 1 / 2;
  padding:  13px 20px;
  letter-spacing: 0em;
  margin: 0;

}
.place__button:hover{
  background-color:  #0063d2;
}


@media screen and (max-width: 320px) {
.place__button {
  margin: 0 auto 0;
}
}