.place__paragraph{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.63;
  grid-area: text;
  color: white;

}

.place__paragraph:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 890px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
.place__paragraph {
    margin: 32px auto 0;
    padding: 0;
}
}