.place__paragraph{
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.63;
  grid-area: text;
  color: white;

}

.place__paragraph:first-of-type {
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (max-width: 890px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 100%;
    margin: 0 16px;
  }
}
