  .cover {
    align-items: center;
    max-height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: calc(100vw / 1.6);
    background-image: url(../../images/background.jpg);
    max-width: 1184px;
    margin: 88px auto 0px auto;
  }

  
.cover::before {
  content: " ";
  background-color: #2a2c2f;
  min-height: calc(100vw / 1.6);
  width: 100%;
  position: absolute;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 1s linear;
  max-width: 1184px;
}
  
.cover:hover::before {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .cover{
    height: 254px;
    margin-top: 48px;
  }
}