.place{
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin-top: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title artist"
     "image text"
    "button text";
  }
  .place:last-child {
  margin-bottom: 0;
  }


@media screen and (max-width: 970px) {
  .place {
    grid-column-gap: 28px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 540px) {
  .place {
    display: grid;
    grid-template-areas: 
    "title"
    "artist"
    "name"
    "image"
    "text"
    "button";
  grid-template-rows: auto;
  grid-template-columns: auto; 
  grid-row-gap:  30px;
  margin-bottom: 48px;
  }
  
}

